{% extends 'base.html' %}
{% block title %}
Flight
{% endblock title %}
{% block body %}
<div class="about_main">
    <div class="navbar">
        <div class="icon">
            <h2 class="logo"><a href="">SKY <span style="color: gold;">RESERVE</a></span></h2>
        </div>
        <div class="menu">
            <ul>
                <li><a href="{% url 'flight' %}">Dashboard</a></li>
                <li><a href="{% url 'book' %}">Book</a></li>
                <li><a href="{% url 'contact' %}">Contact</a></li>
                <li><a href="{% url 'blog' %}">Blog</a></li>
            </ul>
        </div>
        <button class="btn" style="margin-left: 210px; border-radius: 20px;"><a href="{% url 'logout'%}">Logout</a></button>
        {% for flight in flights %}
        <div class="fly">
            <a href="{% url 'control' flight.id %}">{{ flight }}</a>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock body %}